/* .container{
    background-image: url(./components/images/cheap-flight-tickets-in-nigeria.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  } */